header {
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem;
}

.linea {
  border-style: none none solid none;  
}

.texto-hero {
  padding-top: 800px;
}
